<%= form_for(hay_bail) do |f| %>
  <% if hay_bail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hay_bail.errors.count, "error") %> prohibited this hay_bail from being saved:</h2>

      <ul>
      <% hay_bail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_name %>
    <%= f.text_field :field_name %>
  </div>

  <div class="field">
    <%= f.label :bail_count %>
    <%= f.number_field :bail_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
